:root {

/* COPIADO DE style.css */

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --f-family-primaria: "Poppins", "sans serif";

    --clr-primario-300: #c6e8eb;
    --clr-primario-500: #72d5dc;
    --clr-primario-700: #34c3cd;
    --clr-primario-900: #00afbb;
  
    --clr-secundario-300: #86849e;
    --clr-secundario-500: #304f4c;
    --clr-sencudario-700: #1d426e;
    --clr-secundario-900: #052d30;
  
    --clr-neutro-300: #ffffff;
    --clr-neutro-500: #c7c7c7;
  
    --clr-transparencias: #00afbb;
}

* { 
    margin: 0;
    padding: 0;
}

/* ISSUE #31: definir estilos de texto */

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: -0.05em;
    color: var(--clr-secundario-900);
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 78px;
    letter-spacing: -0.06em;
    color: var(--clr-secundario-900);
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 53px;
    letter-spacing: -0.02em;
    color: var(--clr-secundario-900);
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.015em;
    color: var(--clr-secundario-900);
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.06em;    
    color: var(--clr-secundario-900);
}

h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.04em;    
    color: var(--clr-secundario-900);
}


/* ESTILOS TEMPORALES - SOLO PARA PRESENTACIÓN */

section {
    width: 90%;
    margin: 2rem auto;
    padding: 2rem 1rem;
    background-color: var(--clr-primario-300);
    position: relative;
}

.legend {
    position: absolute;
    height: 1.5rem;
    padding: 0.5rem;
    background-color: #ffffff;
    top: -1.5rem;
    box-shadow: 5px 5px lightgray;
    
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}